<%= form_with model: @feed do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @feed.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
    <% @feed.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
