<h1>Feeds</h1>

<ol>
  <% @feeds.each do |feed| %>
    <li>
      <%= link_to feed.name, feed %><br>
      <%= button_to "Fetch", feed_path(feed) %>
    </li>
  <% end %>
  <li>
    <br><strong>Add new feed</strong>
    <%= render "form", feed: @feed %>
  </li>
</ol>
