<h1><%= @feed_name_stable %></h1>
<p>Available at: <%= @feed.url %></p>
<%= button_to "Fetch", feed_path(@feed) %>
<h2>Entries</h2>
<ul>
<% @feed.entries.each do |entry| %>
  <li>
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= link_to entry.source, entry.source %>
  </p>
  <p>
    Published? <%= entry.published %>
    <%= button_to "Publish", [entry.feed, entry] %>
  </p>
  </li>
<% end %>
</ul>
<h3>Edit feed</h3>
<%= render "form", feed: @feed %>

<%= link_to "Delete feed", feed_path(@feed), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
